main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-repeat: no-repeat;
    background-size: normal;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}

a {
    text-decoration: none;
    color: lightblue
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
    display: flex;           /* puts items side-by-side */
    justify-content: space-between; /* title left, nav right */
    align-items: center; 
}

footer {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 10;
}

.simple-list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
    list-style-position: inside;
    line-height: 1.5;
    color: black
}

nav {
    /* make the nav on the right side of the header */
    position: sticky;
    font-family: 'Times New Roman', Times, serif;
    right: 100px;
    top: 30px;
    z-index: 15;
    color: white;
}

.haha {
    padding: 3px;
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid black;
    margin: 40px;
    color: black;
    background-color: lightgray;
}

.resume {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5%;
    line-height: 1.5;
    color: black;
    background-color: white;
    border: steelblue 2px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}